asgiref==3.7.2
channels==4.0.0
channels-redis==4.1.0
click==8.1.7
dj-database-url==2.1.0
Django==3.2
gunicorn==21.2.0
h11==0.14.0
msgpack==1.0.7
packaging==23.2
psycopg2==2.9.9
pytz==2023.3.post1
redis==5.0.1
sqlparse==0.4.4
typing_extensions==4.8.0
uvicorn==0.23.2
whitenoise==6.6.0
websockets==11.0.3
wsproto==1.2.0
