amqp==1.4.9
anyio==3.6.2
anyjson==0.3.3
appopener==1.3
asgiref==3.6.0
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
autobahn==23.1.2
Automat==22.10.0
beartype==0.11.0
beautifulsoup4==4.11.1
billiard==3.3.0.23
bleach==6.0.0
bs4==0.0.1
celery==3.1.26.post2
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
charset-normalizer==2.1.1
click==8.1.3
cloudinary==1.32.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==7.2.1
cryptography @ file:///home/builder/.termux-build/python-cryptography/src
daphne==4.0.0
defusedxml==0.7.1
distlib==0.3.6
Django==3.2
django-celery==3.3.1
django-ckeditor==6.5.1
django-ckeditor-5==0.2.4
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.7.0
django-decouple==2.1
django-froala-editor==4.0.16
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-memcache-status==2.2
django-newsletter==2.0
django-prose==1.2.0
django-quill-editor==0.1.40
django-recaptcha==3.0.0
django-rename-app==0.1.6
django-rest-framework==0.1.0
django-rest-passwordreset==1.3.0
django-summernote==0.8.20.0
django-tinymce==3.6.1
djangochannelsrestframework==1.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.4
filelock==3.8.0
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
flet==0.2.4
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hiredis==2.2.2
hpack==4.0.0
httpcore==0.17.1
httpx==0.24.0
hypercorn==0.14.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
imap-tools==1.0.0
incremental==22.10.0
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
kombu==3.0.37
MarkupSafe==2.1.1
MouseInfo==0.1.3
msgpack==1.0.4
oauthlib==3.2.2
openai==0.26.1
outcome==1.2.0
packaging==23.0
Pillow==9.4.0
pipenv==2023.2.18
platformdirs==2.5.4
priority==2.0.0
psycopg2==2.9.5
pusher==3.3.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.21
PyGetWindow==0.0.9
PyJWT==2.6.0
pymemcache==4.0.0
PyMsgBox==1.0.9
pyOpenSSL==23.0.0
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
python-http-client==3.3.7
python3-openid==3.2.0
python3-xlib==0.15
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.6
redis==4.5.1
repath==0.9.0
requests==2.28.1
requests-oauthlib==1.3.1
ruamel.yaml==0.17.21
selenium==4.6.1
semantic-version==2.10.0
sendgrid==6.9.7
service-identity==21.1.0
setuptools-rust==1.5.2
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.7
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
toml==0.10.2
trio==0.22.0
trio-websocket==0.9.2
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.13
uvicorn==0.22.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
watchdog==2.2.0
webbot==0.34
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.3
whitenoise==6.3.0
wsproto==1.2.0
zope.interface==5.5.2
