{% extends "base.html" %}
{% load static %}
{% block title %} {{ group }} | Chat {% endblock title %}

{% block content %}
  <div class="rm-mrg">
    <h2>{{ group }}</h2>
    <small>{{ group.description }}</small><br>
    <div class="participants">
      <span>Participants -> </span>
      <span>{{ group.participants.count }}</span>
    </div>
    <br>
    <hr>
    <div class="chat-messages" id="chat-messages"></div>
    
    <form action="" id="chat-form" method="post">
      {% csrf_token %}
      <textarea name="message" required placeholder="Type Message..."></textarea>
      <button>Send</button>
    </form>
  </div>
    
  <script>
    const group_id = "{{ group.id }}";
    const user = "{{ request.user }}";
  </script>
    
  <script src="{% static 'chat.js' %}"></script>

{% endblock content %}